.button {
  background: rgb(239, 12, 12);
  color: white;
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}
.button:active{
  box-shadow: none;
}

.button:hover{
  background-color: red;
}